.main-container{
    background-color: red;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #2d2d2d;
    text-align: left;
    padding: 8px;
    background-color: white;
}

th {
    background-color: #1b1140;
    color: white;
    border: 1px solid white;
    font-variant: small-caps;
    font-family: sans-serif;
}