<div class="main-container">
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Count</th>
          <th>Price ($)</th>
        </tr>
      </thead>
      <tbody *ngFor="let equipment of equipments">
        <tr>
          <td>{{ equipment.name }}</td>
          <td>{{ equipment.description }}</td>
          <td>{{ equipment.count }}</td>
          <td>{{ equipment.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
