<div>
    <h2>Free Appointments</h2>
    
    
    <table>
      <thead>
        <tr>
          <th>Administrator Name</th>
          <th>Administrator Surname</th>
          <th>Date and Time</th>
          <th>Duration (minutes)</th>
          <th>Free</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments" (click)="confirmOrder(appointment)">
          <td>{{ appointment.administratorName }}</td>
          <td>{{ appointment.administratorSurname }}</td>
          <td>{{ appointment.dateAndTime | date: 'short' }}</td>
          <td>{{ appointment.duration }}</td>
          <td>{{ appointment.free ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
