<div class="main-container">
    <div class="menu-buttons">
        <button (click)="selectAdmin()">Administrator profile</button>
        <button (click)="selectCompany()">Company profile</button>
    </div>
    <div class="administrator-container">
        <div *ngIf="adminSelected" class="admins-form-container">
            <form [formGroup]="adminForm">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" formControlName = "name"/></td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td><input type="text" formControlName = "surname"/></td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <button (click)="changePasswordClick()">Change password</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <button (click) = "editAdmin()" *ngIf="!isAdminFormEditable">Edit</button>
                <button *ngIf="isAdminFormEditable" (click) = "updateAdmin()">Save</button>       
            </form>
    
        </div>
        <div class="change-password-container" *ngIf="isChangePasswordVisible">
            <form [formGroup]="changePasswordForm">
                <input type="password" placeholder="Old passsword" formControlName = "oldPassword"/>
                <input type="password" placeholder="New passsword" formControlName = "newPassword"/>
                <input type="password" placeholder="Confirm new passsword" formControlName = "confirmPassword"/>
                <div *ngIf="passwordError" class="errorMessage">Old password is not correct</div>
                <button [disabled]="!validateChangePassword()" (click)="changePassword()">Change passsword</button>
                <button (click)="dismissPasswordChange()">Dissmiss</button>
            </form>
        </div>
    </div>
    


    <div class="sub-container" *ngIf="companySelected">
        <div class="form-container">
            <form [formGroup]="companyForm">
                <table>
                    <tr>
                        <td>
                            <label>Name:</label>
                        </td>
                        <td>
                            <input type="text" formControlName = "name"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"> 
                            <label>Description:</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea rows="5" formControlName = "description"></textarea>
                        </td>
                    </tr>
                </table>
                <table>
                    <fieldset>
                        <legend>Address</legend>
                        <tr>
                            <td>
                                <label>Country:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "country"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>City:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "city"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Street:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "street"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Number:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "number"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Zip Code:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "zipCode"/>
                            </td>
                        </tr>
                    </fieldset>   
                </table>
                <button *ngIf="!isFormeditable" (click) = "editClick()" class="editButton">Edit</button>
                <button *ngIf="isFormeditable" (click) = "saveClick()" class="saveButton">Save</button>
               
            </form>
    
        </div>
        
        <div class="admins-container" *ngIf="companySelected">
            <h1>Administrators</h1>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>   
                            <th>Surname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let companyAdmin of companyAdmins">
                        <tr>
                            <td>{{companyAdmin.name}}</td>
                            <td>{{companyAdmin.surname}}</td>
                            <td>{{companyAdmin.user.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    


</div>

