<div class="main-container">
    <div class="sub-container">
        <div class="form-container">
            <form [formGroup]="companyForm">
                <table>
                    <tr>
                        <td>
                            <label>Name:</label>
                        </td>
                        <td>
                            <input type="text" formControlName = "name"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"> 
                            <label>Description:</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea rows="5" formControlName = "description"></textarea>
                        </td>
                    </tr>
                </table>
                <table>
                    <fieldset>
                        <legend>Address</legend>
                        <tr>
                            <td>
                                <label>Country:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "country"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>City:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "city"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Street:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "street"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Number:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "number"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Zip Code:</label>
                            </td>
                            <td>
                                <input type="text" formControlName = "zipCode"/>
                            </td>
                        </tr>
                    </fieldset>   
                </table>
                <button *ngIf="!isFormeditable" (click) = "editClick()" class="editButton">Edit</button>
                <button *ngIf="isFormeditable" (click) = "saveClick()" class="saveButton">Save</button>
               
            </form>
    
        </div>
        <div class="appointments-container">
            <h1>Free appointments</h1>
            <div class="scrollable">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Administrator name</th>
                            <th>Administrator surname</th>
                        </tr>
                    </thead>
                    
                    <tbody *ngFor="let appointment of appointments">
                        <tr *ngIf="appointment.free">
                            <td>{{transformToDate(appointment.dateAndTime)}}</td>
                            <td>{{transformToTime(appointment.dateAndTime)}}</td>
                            <td>{{appointment.duration}}</td>
                            <td>{{appointment.administratorName}}</td>
                            <td>{{appointment.administratorSurname}}</td>
                        </tr>
                        
                    </tbody>
                    
                </table>
            </div>
            <form [formGroup]="appointmentForm">
                <h2>Create appointment</h2>
                <label>Date:</label>
                <input type="date" formControlName = "selectedDate"/>
                <label>Time:</label>
                <input type="time" formControlName = "selectedTime"/>
                <label>Duration:</label>
                <input type="number" formControlName = "duration"/>
                <button type="submit" (click)="addAppointmentClick()">Add</button>
            </form>
            
        </div>
    </div>
    <div class="admins-container">
        <h1>All admins</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

