<div class="main-container">
    <div class="left-container">
      <div>
        <h1>{{company!.name}}</h1>
        <h3>{{company.address!.street}} {{company.address!.number}}</h3>
        <h3>{{company.address!.zipCode}} {{company.address!.city}}, {{company.address!.country}}</h3>
        <h2>Rank: {{company.rating}}</h2>
        
      </div>
      <div class="buttons-container">
        <div class="single-buton-container">
          <button (click)="equipmentsClick()">Equipments</button>
        </div>
        <div class="single-buton-container">
          <button (click)="appointmentsClick()">Appointments</button>
        </div>
      </div>
    </div>
    <div class="right-container">
      <app-equipments *ngIf="showEquipment" [selectedCompanyId] = companyId ></app-equipments>
      <app-appointments *ngIf="showAppointment"></app-appointments>
    </div>
    
  </div>