.navbar-container{
    background-color: rgb(62, 62, 170);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-option{
    margin: 10px;
    color: white;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;

    &:hover{
        background-color: rgb(82, 82, 173) ;
        cursor: pointer;
    }
}

.options-container{
    display: flex;
    flex-direction: row;
}

.login{
    align-self: center;
    margin: 2%;   
}

.login button{
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}