.navbar-container{
    background-color: rgb(62, 62, 170);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.navbar-option{
    align-self: center;

    margin: 3px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: white;
    font-size: 21px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Century Gothic';
    padding: 10px;

    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(100, 100, 190) ;

    &:hover{
        background-color: rgb(117, 117, 194) ;
        cursor: pointer;
    }
}

.options-container{
    display: flex;
    flex-direction: row;
}

.login{
    align-self: center;
    margin: 2%;   
}

.login button{
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

